@mixin before-style {
    background: url($main-img);
    background-size: cover;
    
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 128, 0, 0.315);
      transition: 2s;
    }
    &:hover::before {
      opacity: 0;
     
    }
  }
main {
    display:flex;
    flex-wrap: wrap;
  }
  main .img {
    position: relative;
    width: 300px;
    height: 400px;
   
    margin: 30px auto;
    padding-top: 30px;
    transition: 0.3s;
   
   
    &:hover {
      transform: scale(1.1);
    
    }
    h2 {
      text-shadow: 0 0 5px grey;
      font-family:$textstyle-h2;
      transition: 0.3s;
      position: absolute;
     
      
      
      &:hover {
        color: black;
        cursor: pointer;
      }
    }
  
  }
  main .img-1 {
    @include before-style;
  }
  main .img-2 {
    @include before-style;
    &::before {
      background: rgba(214, 12, 12, 0.315);
  
  }
  
  }